{{#each this}}
  <li class="coctailItem">
    <h2>
      {{strDrink}}
    </h2>
    <img src="{{strDrinkThumb}}" alt="{{strDrink}}" width="200" />
    <h3>
      Ingredients
    </h3>
    <ul>

    </ul>
  </li>
{{/each}}